@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main-color: #888;
  --black: #13131a;
  --bg: #fff;
  --border: .1rem solid #000;
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

body{
  background: var(--bg);
}

.cart-page{
  padding: 7rem 7%;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: left;
  padding: 0.5rem;
  border-bottom: .3rem solid orange;
}

th span{
  padding: .1rem 1rem;
  border-radius: 1.2rem;
  color: #fff;
  background-color: orange;
}

th:nth-child(2),th:nth-child(3),th:nth-child(4),
td:nth-child(2),td:nth-child(3),td:nth-child(4){
  text-align: center;
}

td{
  padding: 1rem .5rem; 
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 500;
}

td input{
  width: 4rem;
  height: 3rem;
  padding: 0.5rem;
  border: var(--border);
  text-align: center;
}

td a{
  color: orange;
  font-size: 1.2rem;
}

td img{
  height: 8rem;
  margin-right: 1rem;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: .3rem solid orange;
  width: 100%;
  max-width: 35rem;
}

td:last-child,
th:last-child{
  text-align: right;
}









/* media query */
@media only screen and (max-width:600px){
  .cart-info p{
    display: none;
  }

  .total-price table{
    max-width: 100%;
  }
}