@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  stop-opacity: 7rem;
}

body{
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: 100vh;
  background: #e8e8e8;
}

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 10rem;
  background: rgb(255, 180, 41);
}

footer .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

footer .container .sec h2{
  position: relative;
  color: #000;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

footer .container .sec p{
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
}

footer .container .sci{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4,5rem);
}

footer .container .sci li{
  list-style: none;
}

footer .container .sci li a{
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  background: #000;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

footer .container .sci li a i{
  color: #fff;
  font-size: 2rem;
}

footer .container .quicklinks{
  position: relative;
}

footer .container .quicklinks ul li{
  list-style: none;
}

footer .container .quicklinks ul li a{
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 1rem;
  display: inline-block;
}

footer .container .contact .info{
  position: relative;
}

footer .container .contact .info li{
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-bottom: 1.6rem;
}

footer .container .contact .info li span{
  color: #000;
  font-size: 2rem;
}

footer .container .contact .info li a{
  font-weight: 500;
  color: #000;
  line-height: 2.5rem;
  text-decoration: none;
}




@media (max-width: 991px){
  footer{
    padding: 4rem;
  }

  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 768px){
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 2rem;
  }
}