@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main-color: #888;
  --black: #13131a;
  --bg: #fff;
  --border: .1rem solid #000;
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

body{
  background: var(--bg);
}

section{
  padding: 2rem 7%;
}

.heading{
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span{
  color: var(--main-color);
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: rgb(255, 102, 0);
  cursor: pointer;
}

.btn:hover{
  letter-spacing: .2rem;
}

.header{
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 6rem;
}

.header .navbar a{
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover{
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color: var(--main-color);
}

#menu-btn{
  display: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  height: 75rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.icons-container{
  background: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
  padding: 5rem;
}

.icons-container .icons{
  background: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  padding: 2rem;
  display: flex;
  align-items: center;
}

.icons-container .icons img{
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3{
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
  padding-bottom: 4rem;
}

.products .box-container .box{
  padding: 3rem;
  text-align: center;
  border: var(--border);
  border-radius: 20px;
}

.products .box-container .box img{
  height: 25rem;
  border-radius: 20px;
}

.products .box-container .box h3{
  font-size: 2rem;
  padding: 1rem 0;
}

.products .box-container .box .price{
  font-size: 2.5rem;
  padding: .5rem 0;
}

.products .box-container .box .price span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.products .box-container .box:hover{
  opacity: 0.6;
}

.footer{
  background: var(--black);
  text-align: center;
}

.footer .share{
  padding: 1rem 0;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: .3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  color: var(--black);
  background-color: #fff;
}

.footer .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a{
  padding: .7rem 2rem;
  border-radius: 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover{
  color: var(--black);
  background: #fff;
}

.footer .credit{
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span{
  color: var(--main-color);
}





















@media (max-width: 991px) {
  html{
    font-size: 55%;
  }

  .header{
    padding: 1.5rem 2rem;
  }

  section{
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active{
    right: 0;
  }


  .header .navbar a{
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

  .home .content p{
    font-size: 1.5rem;
  }

  .icons-container .icons h3{
    font-size: 2rem;
  }
  
  .icons-container .icons span{
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
}